*{
    margin: 0;
    padding: 0;
}

.new{
    background-color: #cafdff;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.demo{
    padding: 10px;
    margin: 10px;
    color: black;
    font-style: georgia;

}
.less{
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      font-size: 25px;

}

#image{
    width: 50vh;
    margin: 20px;
}

.home{
       background-color:#Eadcff;
       width: 100%;
       height: 700px;
       display: flex;
       justify-content: space-between;
    
}
#pic{
      margin: 50px;
      width: 500px;
      height: 400px;
    

}
.text{
    margin: 50px;
    font-size: 30px;


}
.button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color:rgb(54,205,205);
    border: 0;
}
#about{
    background-color: rgb(235, 235, 207);
    width: 100%;
    height: 100vh;
    font: bold;
}
#laptop{
      margin: 50px;
      height: 350px;
}
#head{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
.all{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.para{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 20px;
}


#Discord{
    background-color: rgb(163, 216, 227);
    width: 100%;
    height: 100vh;
}
#point{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
#robort{
    margin: 50px;
    height: 300px;
    width: 550px;
}
.main{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.line{
    margin-top: 100px;
    margin-left: 10px;
    font-size: 19px;
}

#Contact{
    background-color: rgb(204, 168, 255);
    width: 100%;
    height: 80vh;
}
#start{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}    
.e{
    font-size: 20px;
    margin-right: 318px;
}

.m{
    font-size: 20px;
    margin-right: 290px;    
}
.a{
    padding-right: 200px;
}
.b{
    padding-right: 200px;
    padding-bottom: 70px;
}
#push{
    padding-right: 160px;
    padding-left: 160px;
    background-color: rgb(82, 191, 154);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 20px;
    height: 30px;
    margin: 30px;
}
.fot{
    background-color: rgb(190, 236, 255);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logo{
    width: 70vh;
    margin: 10px;
}
.last{
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.end{
    margin: 10px;
}